<%= form_with scope: :product_type, url: url, method: method, class: 'form-group text-center mt-5', local: true do |form| %>
  <% if @product_type.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product_type.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: "form-control"  %>
  </p>

  <p>
    <%= form.submit class: 'btn btn-success' %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image, class: 'form-control'%>     
  </p>

  <%= link_to 'Back', admin_product_types_path, class: 'btn btn-warning'%>
<% end %>
