<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="collapse navbar-collapse">
    <%= link_to 'LOGO', root_path, class: 'navbar-brand text-dark'%>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
         <%= link_to 'HOME', root_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'SHOP', shop_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'BLOG', blog_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'CONTACT',   '#', class: 'nav-link'%>
      </li> 
    </ul>
  </div>

  <div class="navbar text-center">
    <%= link_to '#', class: 'nav-link' do %>
      <%= image_tag('icons/user.svg')%>
    <% end %>

    <%= link_to '#', class: 'nav-link' do %>
      <%= image_tag('icons/search.svg')%>
    <% end %>

    <%= link_to '#', class: 'nav-link' do %>
      <%= image_tag('icons/cart.svg')%>
    <% end %>
  </div>
</nav>
