<div class="row">
  <div class="col-6 offset-3">
    <%= form_with model: @product, url: url, method: method, class: 'form-group text-center mt-5', local: true do |form| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@product.errors.count, "error") %> prohibited
            this product from being saved:
          </h2>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name, class: "form-control"  %>
      </p>

      <p>
        <%= form.label :price %><br>
        <%= form.text_field :price, class: "form-control"  %>
      </p>

      <p>
        <%= form.label :description %><br>
        <%= form.text_area :description, class: "form-control" %>
      </p>

      <p>
        <%= form.label :type %><br>
        <%= form.collection_select :product_type_id, ProductType.all, :id, :name %>
      </p>

      <p>
        <%= form.label :sizes %><br>
        <%= form.collection_select :product_size_ids, ProductSize.all, :id, :name, { include_blank: false }, { class: "form-control", multiple: true } %>
      </p>

      <p>
        <%= form.label :image %><br>
        <%= form.hidden_field :image, value: form.object.image.identifier %>
        <%= form.file_field :image, class: 'form-control'%>
        
      </p>

      <p>
        <%= form.submit class: 'btn btn-success' %>
      </p>

      <%= link_to 'Back', admin_products_path, class: 'btn btn-warning'%>
    <% end %>
  </div>
</div>
