<h1>Product Listing</h1>
 
<%= link_to 'New product', new_admin_product_path , class: 'btn btn-primary ml-3'%>
<br />
<br />

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Quantity</th>
    <th></th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.description %></td>
      <td><%= product.quantity %></td>
      <td>
        <%= link_to 'Show', admin_product_path(product), class: 'btn btn-primary'%>
        <%= link_to 'Edit',  edit_admin_product_path(product), class: 'btn btn-warning'%>
        <%= link_to 'Destroy', admin_product_path(product),
                method: :delete,
                data: { confirm: 'Are you sure?' }, 
                class: 'btn btn-danger'%>
      </td>
    </tr>
  <% end %>
</table>  
