<div class="card text-center mx-auto mt-5" style="width: 18rem;">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @product.product_type.name %>
  </p>

  <p>
    <%= image_tag(@product.image_url, width: '100px', height: '100px') if @product.image? %>
  </p>
  <%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-warning' %>
  <%= link_to 'Back', admin_products_path, class: 'btn btn-primary'%>
</div>
