<div class="row" data-controller="product">
  <div id="carouselExampleControls" class="carousel slide col" data-ride="carousel">
    <div class="carousel-inner">
      <% @product.images.each_with_index do |image, index| %>
        <div class="carousel-item <%= "active" if index == 0 %>">
          <%= image_tag(image.url, class: 'd-block w-100') %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="col ml-5">
    <small>PRODUCT BRAND</small>
    <h1><%= @product.name %></h1>
    <p>₱ <%= @product.price %></p>
    <p>
      <%= label_tag :size %>
      <%= collection_select :product_size, :id, @product.product_sizes, :id, :name, { include_blank: false }, { class: "form-control", data: { target: "product.sizeField" }, product: @product.id } %>
    </p>
    <div class="js-qty-container">
      <%= label_tag :quantity %>
      <div class="js-select-container">
        <% if @initial_quantity > 0 %>
          <%= collection_select :product_size, :qty, [*1..@initial_quantity], :to_s, :to_s, { include_blank: false }, { class: "form-control js-select" } %>
        <% end %>
      </div>

      <p class="small">
        <span class="js-quantity-text"><%= @initial_quantity %></span> stocks left for this size
      </p>

      <button class="btn btn-success" data-target="product.cartBtn">Add to Cart</button>
    </div>
  </div>
</div>
